$bg-color: #222;
$text-color: #AAA;
$text-dark: #111;

$primary: #D63230;

@font-face {
    font-family: RussischSans;
    src: url("./fonts/RussischSans/RussischSans-Regular.ttf");
}

body {
    background-image: linear-gradient(90deg, $bg-color, $bg-color, $bg-color, darken($primary, 20%));
    color: $text-color;
    font-family: RussischSans, Arial, Helvetica, sans-serif;
}

.landing-tiles {
    display: grid;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.5px;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.top-tile > p {
    font-weight: lighter;
    font-size: 24px;
}

.tile > h2 {
    text-align: center;
    font-size: 24px;
}

.tile > p {
    text-align: justify;
    font-size: 18px;
    line-height: 10px;
}

a {
    color: $text-color;
    text-decoration: none;
}

#app {
    max-width: 850px;
    margin: 0 auto;
}

nav {
    padding: 20px 0;
    height: 20px;
    background-color: $primary;
    color: $text-dark;
}

nav > a {
    color: $text-dark;
    text-decoration: none;
    font-size: 20px;
}